@model CaoLendario.Models.Adotante

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Adotante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.moradia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.moradia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.porte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.porte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.filhote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.filhote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.castrado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.castrado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.talimentacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.talimentacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.senha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.senha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_nascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_nascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
